In [58]:
import json
import pandas as pd

In [62]:
# Load JSON data
with open('C:/Users/Srijan/Movie-recommender-application/src/data/movies.json', 'r') as file:
    movies_data = json.load(file)

with open('C:/Users/Srijan/Movie-recommender-application/src/data/tv_shows.json', 'r') as file:
    tv_data = json.load(file)

# Convert JSON data to a pandas DataFrame
movies_df = pd.json_normalize(movies_data)
tv_df=pd.json_normalize(tv_data)

In [63]:
tv_df=tv_df.drop(columns=["genre_ids",'original_name'])
tv_df.columns

Index(['adult', 'backdrop_path', 'id', 'origin_country', 'original_language',
       'overview', 'popularity', 'poster_path', 'first_air_date', 'name',
       'vote_average', 'vote_count', 'genre_names'],
      dtype='object')

In [64]:
tv_df.head(5)

,adult,backdrop_path,id,origin_country,original_language,overview,popularity,poster_path,first_air_date,name,vote_average,vote_count,genre_names
0,False,/w7oNyGaZ8Tz9LnAr0nf6dvKC968.jpg,6390,[GB],en,The property show that helps prospective buyer...,2759.509,/ykSfW3rU7Th0VvrgB85nHvQZCAN.jpg,2002-10-14,Escape to the Country,4.864,22,[Unknown]
1,False,/7cqKGQMnNabzOpi7qaIgZvQ7NGV.jpg,76479,[US],en,A group of vigilantes known informally as “The...,2947.075,/2zmTngn1tYC1AvfnrFLhxeD82hz.jpg,2019-07-25,The Boys,8.500,9997,"[Unknown, Unknown]"
2,False,/mZCq3ldk7hUIyDvfZIOvTrxPWYS.jpg,209374,[US],es,,2812.936,/6Gy1ReRZ9sK9g8TPXZGz7CcQvrV.jpg,2022-08-09,Top Chef VIP,5.444,9,[Unknown]
3,False,/p6OBqwbQTTxv7xdvjueHVZ8gLK5.jpg,2637,[GB],en,Amateur chefs compete against each other by ho...,3539.203,/enFfviWZwnIKn9DhyMa7cXqKx6Q.jpg,2005-01-10,Come Dine with Me,4.800,29,[Unknown]
4,False,/3xVmBU66Ukp79BBKAbHMySSAqq3.jpg,242101,[PT],pt,"Cacau is an engaging saga of family secrets, c...",1486.499,/nNCFBKZ68fmr008moWSzLdu2mUP.jpg,2024-01-15,Cacau,5.500,8,[Drama]

In [65]:
tv_df.shape

(400, 13)

In [66]:
movies_df=movies_df.drop(columns=["genre_ids",'original_title','video'])
movies_df.columns

Index(['adult', 'backdrop_path', 'id', 'original_language', 'overview',
       'popularity', 'poster_path', 'release_date', 'title', 'vote_average',
       'vote_count', 'genre_names'],
      dtype='object')

In [67]:
movies_df.shape

(400, 12)

In [68]:
movies_df.head(5)

,adult,backdrop_path,id,original_language,overview,popularity,poster_path,release_date,title,vote_average,vote_count,genre_names
0,False,/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg,1022789,en,Teenager Riley's mind headquarters is undergoi...,5571.077,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,Inside Out 2,7.683,1943,"[Animation, Family, Adventure, Comedy]"
1,False,/fDmci71SMkfZM8RnCuXJVDPaSdE.jpg,519182,en,"Gru and Lucy and their girls — Margo, Edith an...",4439.300,/3w84hCFJATpiCO5g8hpdWVPBbmq.jpg,2024-06-20,Despicable Me 4,7.392,338,"[Animation, Family, Comedy, Action]"
2,False,/Akv9GlCCMrzcDkVz4ad8MdLl9DK.jpg,748783,en,"Garfield, the world-famous, Monday-hating, las...",2173.538,/p6AbOJvMQhBmffd0PIv0u8ghWeY.jpg,2024-04-30,The Garfield Movie,7.300,504,"[Animation, Comedy, Family, Adventure]"
3,False,/dn3gbDpXPSwC6saMJOHkCiFA9jn.jpg,974262,en,After the Queen of Hearts incites a coup on Au...,2030.613,/8fYluTtB3b3HKO7KQa5tzrvGaps.jpg,2024-07-11,Descendants: The Rise of Red,7.257,148,"[Fantasy, Adventure, Family, Comedy]"
4,False,/wNAhuOZ3Zf84jCIlrcI6JhgmY5q.jpg,786892,en,"As the world fell, young Furiosa is snatched f...",1872.179,/iADOJ8Zymht2JPMoy3R7xceZprc.jpg,2024-05-22,Furiosa: A Mad Max Saga,7.650,2224,"[Action, Adventure, Science Fiction]"

In [69]:
print("In movies: \n",movies_df['original_language'].value_counts())
print("In TV: \n",tv_df['original_language'].value_counts())

In movies:
 original_language
en    315
ja     16
ko     14
fr     13
es      8
zh      7
it      4
hi      3
ru      3
de      2
tl      2
pl      2
sv      2
cn      2
vi      2
no      1
th      1
pt      1
bn      1
id      1
Name: count, dtype: int64
In TV:
 original_language
en    323
es     18
hi      9
ja      7
fr      7
pt      6
de      5
ko      5
tl      4
zh      4
af      4
nl      2
cn      1
it      1
tr      1
hu      1
no      1
pl      1
Name: count, dtype: int64

In [71]:
language=pd.read_csv("C:/Users/Srijan/Movie-recommender-application/src/data/Lang-ISO.csv")
language.head()

  original_language                      Name
0                af                 Afrikaans
1             af-ZA  Afrikaans (South Africa)
2                ar                    Arabic
3             ar-AE           Arabic (U.A.E.)
4             ar-BH          Arabic (Bahrain)

In [72]:
tv_df = pd.merge(tv_df, language, on='original_language', how='left')

In [73]:
tv_df=tv_df.drop(columns="original_language")

In [74]:
tv_df=tv_df.rename(columns={'Name':'language'})
tv_df.columns

Index(['adult', 'backdrop_path', 'id', 'origin_country', 'overview',
       'popularity', 'poster_path', 'first_air_date', 'name', 'vote_average',
       'vote_count', 'genre_names', 'language'],
      dtype='object')

In [75]:
movies_df = pd.merge(movies_df, language, on='original_language', how='left')

In [76]:
movies_df=movies_df.drop(columns="original_language")

In [77]:
movies_df.rename(columns={'Name': 'language'}, inplace=True)
movies_df.columns

Index(['adult', 'backdrop_path', 'id', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'vote_average', 'vote_count', 'genre_names',
       'language'],
      dtype='object')

In [78]:
movies_df.head()

,adult,backdrop_path,id,overview,popularity,poster_path,release_date,title,vote_average,vote_count,genre_names,language
0,False,/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg,1022789,Teenager Riley's mind headquarters is undergoi...,5571.077,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,Inside Out 2,7.683,1943,"[Animation, Family, Adventure, Comedy]",English
1,False,/fDmci71SMkfZM8RnCuXJVDPaSdE.jpg,519182,"Gru and Lucy and their girls — Margo, Edith an...",4439.300,/3w84hCFJATpiCO5g8hpdWVPBbmq.jpg,2024-06-20,Despicable Me 4,7.392,338,"[Animation, Family, Comedy, Action]",English
2,False,/Akv9GlCCMrzcDkVz4ad8MdLl9DK.jpg,748783,"Garfield, the world-famous, Monday-hating, las...",2173.538,/p6AbOJvMQhBmffd0PIv0u8ghWeY.jpg,2024-04-30,The Garfield Movie,7.300,504,"[Animation, Comedy, Family, Adventure]",English
3,False,/dn3gbDpXPSwC6saMJOHkCiFA9jn.jpg,974262,After the Queen of Hearts incites a coup on Au...,2030.613,/8fYluTtB3b3HKO7KQa5tzrvGaps.jpg,2024-07-11,Descendants: The Rise of Red,7.257,148,"[Fantasy, Adventure, Family, Comedy]",English
4,False,/wNAhuOZ3Zf84jCIlrcI6JhgmY5q.jpg,786892,"As the world fell, young Furiosa is snatched f...",1872.179,/iADOJ8Zymht2JPMoy3R7xceZprc.jpg,2024-05-22,Furiosa: A Mad Max Saga,7.650,2224,"[Action, Adventure, Science Fiction]",English

In [79]:
from pathlib import Path 
filepath_movies = Path('C:/Users/Srijan/Movie-recommender-application/src/data/Preprocessed/movies_preprocessed.csv')  
filepath_tv= Path("C:/Users/Srijan/Movie-recommender-application/src/data/Preprocessed/tv_preprocessed.csv")
movies_df.to_csv(filepath_movies)
tv_df.to_csv(filepath_tv)