In [38]:
import json
import pandas as pd

In [39]:
# Load JSON data
with open('../../data/movies.json', 'r') as file:
    movies_data = json.load(file)

with open('../../data/tv_shows.json', 'r') as file:
    tv_data = json.load(file)

# Convert JSON data to a pandas DataFrame
movies_df = pd.json_normalize(movies_data)
tv_df=pd.json_normalize(tv_data)

In [40]:
tv_df=tv_df.drop(columns=["genre_ids",'original_name'])
tv_df.columns

Index(['adult', 'backdrop_path', 'id', 'origin_country', 'original_language',
       'overview', 'popularity', 'poster_path', 'first_air_date', 'name',
       'vote_average', 'vote_count', 'genre_names'],
      dtype='object')

In [41]:
tv_df.head(5)

,adult,backdrop_path,id,origin_country,original_language,overview,popularity,poster_path,first_air_date,name,vote_average,vote_count,genre_names
0,False,/etj8E2o0Bud0HkONVQPjyCkIvpv.jpg,94997,[US],en,The Targaryen dynasty is at the absolute apex ...,4063.783,/7QMsOTMUswlwxJP0rTTZfmz2tX2.jpg,2022-08-21,House of the Dragon,8.422,4405,[Drama]
1,False,/mZCq3ldk7hUIyDvfZIOvTrxPWYS.jpg,209374,[US],es,,3258.423,/6Gy1ReRZ9sK9g8TPXZGz7CcQvrV.jpg,2022-08-09,Top Chef VIP,5.600,8,[]
2,False,/hib8MpBPU7GdluS38htXCF4uw0c.jpg,2734,[US],en,"In the criminal justice system, sexually-based...",2118.783,/onmSVwYsPMYtO8OjLdjS8FfRNKb.jpg,1999-09-20,Law & Order: Special Victims Unit,7.917,3734,"[Crime, Drama, Mystery]"
3,False,/nmg2lY4QuyXQrAnrC2lRblK5rT6.jpg,1416,[US],en,Follows the personal and professional lives of...,1949.394,/jcEl8SISNfGdlQFwLzeEtsjDvpw.jpg,2005-03-27,Grey's Anatomy,8.200,10069,[Drama]
4,False,/oSv4WdBFcQLgVjGsRPmU7WcYFxC.jpg,115992,[US],en,Welcome to The Damage Report with John Iadarol...,1465.284,/ckJWPg2f9F0oJSvjInHi4Mk6Lrz.jpg,2018-11-28,The Damage Report with John Iadarola,7.500,2,[]

In [42]:
tv_df.shape

(10000, 13)

In [43]:
movies_df=movies_df.drop(columns=["genre_ids",'original_title','video'])
movies_df.columns

Index(['adult', 'backdrop_path', 'id', 'original_language', 'overview',
       'popularity', 'poster_path', 'release_date', 'title', 'vote_average',
       'vote_count', 'genre_names'],
      dtype='object')

In [44]:
movies_df.shape

(10000, 12)

In [45]:
movies_df.head(5)

,adult,backdrop_path,id,original_language,overview,popularity,poster_path,release_date,title,vote_average,vote_count,genre_names
0,False,/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg,1022789,en,Teenager Riley's mind headquarters is undergoi...,6482.514,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,Inside Out 2,7.700,1815,"[Animation, Family, Adventure, Comedy, Drama]"
1,False,/fDmci71SMkfZM8RnCuXJVDPaSdE.jpg,519182,en,"Gru and Lucy and their girls — Margo, Edith an...",5039.313,/3w84hCFJATpiCO5g8hpdWVPBbmq.jpg,2024-06-20,Despicable Me 4,7.541,270,"[Animation, Family, Comedy, Action]"
2,False,/Akv9GlCCMrzcDkVz4ad8MdLl9DK.jpg,748783,en,"Garfield, the world-famous, Monday-hating, las...",2851.218,/p6AbOJvMQhBmffd0PIv0u8ghWeY.jpg,2024-04-30,The Garfield Movie,7.203,421,"[Animation, Comedy, Family, Adventure]"
3,False,/wNAhuOZ3Zf84jCIlrcI6JhgmY5q.jpg,786892,en,"As the world fell, young Furiosa is snatched f...",2145.649,/iADOJ8Zymht2JPMoy3R7xceZprc.jpg,2024-05-22,Furiosa: A Mad Max Saga,7.651,2127,"[Action, Adventure, Science Fiction]"
4,False,/fqv8v6AycXKsivp1T5yKtLbGXce.jpg,653346,en,"Several generations following Caesar's reign, ...",1912.185,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,2024-05-08,Kingdom of the Planet of the Apes,7.100,1831,"[Science Fiction, Adventure, Action]"

In [46]:
print("In movies: \n",movies_df['original_language'].value_counts())
print("In TV: \n",tv_df['original_language'].value_counts())

In movies:
 original_language
en    6532
ja     789
fr     473
ko     391
es     300
zh     252
it     205
cn     179
hi     123
de     123
ru     122
pt      54
th      47
tl      43
pl      42
sv      37
id      33
da      29
no      28
te      25
ta      21
ar      20
nl      19
tr      12
uk      10
cs      10
ml       8
vi       6
fi       6
fa       6
et       5
bn       5
mk       5
kn       4
el       4
sr       4
ms       3
ka       2
hu       2
ro       2
he       2
sh       2
km       2
is       2
mn       2
jv       2
ga       1
kk       1
la       1
yo       1
ur       1
hr       1
mi       1
Name: count, dtype: int64
In TV:
 original_language
en    3778
ja    2035
ko    1035
zh     835
cn     349
es     309
de     274
fr     225
pt     184
ru     165
tr      98
hi      97
tl      68
nl      61
th      53
it      50
ar      40
he      36
sv      32
cs      31
pl      29
da      24
el      22
sr      19
no      17
bg      15
ms      13
af      11
uk      11
ca      10
hu      10
id       9
fi       8
sk       7
ro       4
ta       4
bn       3
ur       3
kn       3
te       3
bs       2
fa       2
lb       2
vi       2
gl       2
ka       2
is       2
cy       2
ab       2
et       1
lt       1
Name: count, dtype: int64

In [47]:
language=pd.read_csv("../../data/Lang-ISO.csv")
language.head()

  original_language                      Name
0                af                 Afrikaans
1             af-ZA  Afrikaans (South Africa)
2                ar                    Arabic
3             ar-AE           Arabic (U.A.E.)
4             ar-BH          Arabic (Bahrain)

In [48]:
tv_df = pd.merge(tv_df, language, on='original_language', how='left')

In [49]:
tv_df=tv_df.drop(columns="original_language")

In [50]:
tv_df.rename(columns={'Name':'language'})
tv_df.columns

Index(['adult', 'backdrop_path', 'id', 'origin_country', 'overview',
       'popularity', 'poster_path', 'first_air_date', 'name', 'vote_average',
       'vote_count', 'genre_names', 'Name'],
      dtype='object')

In [51]:
movies_df = pd.merge(movies_df, language, on='original_language', how='left')

In [52]:
movies_df=movies_df.drop(columns="original_language")

In [53]:
movies_df.rename(columns={'Name': 'language'}, inplace=True)
movies_df.columns

Index(['adult', 'backdrop_path', 'id', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'vote_average', 'vote_count', 'genre_names',
       'language'],
      dtype='object')

In [54]:
movies_df.head()

,adult,backdrop_path,id,overview,popularity,poster_path,release_date,title,vote_average,vote_count,genre_names,language
0,False,/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg,1022789,Teenager Riley's mind headquarters is undergoi...,6482.514,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,Inside Out 2,7.700,1815,"[Animation, Family, Adventure, Comedy, Drama]",English
1,False,/fDmci71SMkfZM8RnCuXJVDPaSdE.jpg,519182,"Gru and Lucy and their girls — Margo, Edith an...",5039.313,/3w84hCFJATpiCO5g8hpdWVPBbmq.jpg,2024-06-20,Despicable Me 4,7.541,270,"[Animation, Family, Comedy, Action]",English
2,False,/Akv9GlCCMrzcDkVz4ad8MdLl9DK.jpg,748783,"Garfield, the world-famous, Monday-hating, las...",2851.218,/p6AbOJvMQhBmffd0PIv0u8ghWeY.jpg,2024-04-30,The Garfield Movie,7.203,421,"[Animation, Comedy, Family, Adventure]",English
3,False,/wNAhuOZ3Zf84jCIlrcI6JhgmY5q.jpg,786892,"As the world fell, young Furiosa is snatched f...",2145.649,/iADOJ8Zymht2JPMoy3R7xceZprc.jpg,2024-05-22,Furiosa: A Mad Max Saga,7.651,2127,"[Action, Adventure, Science Fiction]",English
4,False,/fqv8v6AycXKsivp1T5yKtLbGXce.jpg,653346,"Several generations following Caesar's reign, ...",1912.185,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,2024-05-08,Kingdom of the Planet of the Apes,7.100,1831,"[Science Fiction, Adventure, Action]",English

In [55]:
from pathlib import Path 
filepath_movies = Path('C:/Users/Srijan/Movie-recommender-application/src/data/Preprocessed/movies_preprocessed.csv')  
filepath_tv= Path("C:/Users/Srijan/Movie-recommender-application/src/data/Preprocessed/tv_preprocessed.csv")
movies_df.to_csv(filepath_movies)
tv_df.to_csv(filepath_tv)